<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.springboot.dao.IssueDao">

	<resultMap id="IssueMap" type="com.ibm.springboot.entity.Issue">
		<result property="modifyPersonID" column="modify_person_ID"/>
    	<result property="createPersonID" column="create_person_ID"/>
    	<result property="actualComplteTime" column="actual_complte_time"/>
    	<result property="createPersonName" column="createPersonName"/>
    	<result property="modifyPersonName" column="modifyPersonName"/>
	</resultMap>

	<sql id="columnsAll">
		id,issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,
		priority,influent_version,re_step,create_person_ID,
		modify_person_ID,title,status,solution
	</sql>
	
	<delete id="delete">
		delete from issue
		where id = #{id}
	</delete>

<!-- 	插入方法不可以插入解决方案字段，因为在创建问题的时候不可能就知道解决问题的方法了 -->
	<insert	id="insert" parameterType="com.ibm.springboot.entity.Issue">
	    insert into issue(
		issue_no,issue_type,create_date,plan_modify_time,priority,influent_version,
		re_step,create_person_ID,modify_person_ID,title,status) values(
			#{issueNo},
			#{issueType},
			#{createDate},
			#{planModifyTime},
			#{priority},
			#{influentVersion},
			#{reStep},
			#{createPersonID},
			#{modifyPersonID},
			#{title},
			#{status}
		)
	</insert>
	
	<!-- issue 和 user 的联表查询 + 条件查询 -->
	<select id="queryByCondition" parameterType="com.ibm.springboot.entity.VO.IssueVo" resultMap="IssueMap">
		select distinct
			t1.id,issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,
			priority,influent_version,re_step,create_person_ID,			
			modify_person_ID,title,t1.status,solution,
			
			t2.username createPersonName,t3.username modifyPersonName	
					
			from issue t1,user t2,user t3
        
		   	where ( t1.create_person_ID = t2.loginID AND t1.modify_person_ID = t3.loginID )
		   	
		   	<if test="issueNo != null and issueNo.trim() != ''">
               	<bind name="_issue_no" value="'%' + issueNo + '%'"/>
                    and issue_no like #{_issue_no} 
               </if>
               
               <if test="status == 0 or status == 1 or status == -1">
            		and status = #{status}
               </if>
               
              	<if test="createStartDate != null">
                   and 
                   <![CDATA[
                   create_date >= #{createStartDate,jdbcType=DATE}
                   ]]>
               </if>
               
               <if test="createEndDate != null">
                   and 
                   <![CDATA[
                   create_date <= #{createEndDate,jdbcType=DATE}
                   ]]>
               </if>
               <if test="modifyStartDate != null">
                   and 
                   <![CDATA[
                   plan_modify_time >= #{modifyStartDate,jdbcType=DATE}
                   ]]>
               </if>
               <if test="modifyEndDate != null">
                   and 
                   <![CDATA[
                   plan_modify_time <= #{modifyEndDate,jdbcType=DATE}
                   ]]>
               </if>
               <if test="createPersonName != null and createPersonName.trim() != ''">
                   and create_person_ID in (
					    select loginID from user where username = #{createPersonName}
					    )
               </if>
               <if test="modifyPersonName != null and modifyPersonName.trim() != ''">
                   and modify_person_ID in (
					    select loginID from user where username = #{modifyPersonName}
					    )
               </if>
               <if test="status == 3">
               		and t1.status != 0
               </if>
               <if test="createPersonID != null">
               		and create_person_ID = #{createPersonID}
               </if>
               <if test="modifyPersonID != null">
               		and modify_person_ID = #{modifyPersonID}
               </if>
               
               order by create_date desc       

	</select>
	
	<select id="queryByID" parameterType="com.ibm.springboot.entity.VO.IssueVo" resultMap="IssueMap">
		select 
			t1.id,issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,
			priority,influent_version,re_step,create_person_ID,			
			modify_person_ID,title,t1.status,solution,
			t2.username createPersonName,t3.username modifyPersonName			
			from issue t1,user t2,user t3
		   	where( t1.create_person_ID = t2.loginID AND t1.modify_person_ID = t3.loginID )
		   	and (create_person_ID = #{createPersonID} or modify_person_ID = #{modifyPersonID})
		   	order by create_date desc
	</select>
	
<!-- 	修改 issue 的时候只需要修改表的 status & solution & 实际完成时间-->
	<update id="updateIssue">
		update issue
			<set>
				<if test="status != null">
					status = #{status},
				</if>
				<if test="solution != null">
					solution = #{solution},
				</if>
				<if test="actualComplteTime != null">
					actual_complte_time = #{actualComplteTime}
				</if>
			</set>
			where id = #{id}
	</update>
	
<!-- 	通过 IssueNo 查询出所对应的行数 -->
	<select id="getRowByIssueNo" resultType="int">
		select 
			count(id) 
			from issue
		where issue_no = #{issueNo} 
	</select>
	
<!-- 	通过 IssueNo 查询出 issue 的具体信息 -->
	<select id="getIssueByIssueNo" resultType="com.ibm.springboot.entity.Issue">
		select
			<include refid="columnsAll"/>
				from issue
				where issue_no = #{issueNo}
	</select>
	
	<select id="accountAllForIssueReport" resultType="com.ibm.springboot.entity.IssueReport">
		
	</select>
	
</mapper>