<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签要指定namespace属性，不然会报错，可看做包名-->
<mapper namespace="com.ibm.springboot.dao.IssueDao">

	<resultMap type="com.ibm.springboot.entity.Issue" id="insertMap">
	   <id property="id" column="id"/>
	   <result property="modifyPersonID" column="modify_person_ID"/>
	   <result property="createPersonID" column="create_person_ID"/>
	</resultMap>

	<sql id="columnsAll">
		id,issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,
		priority,influent_version,re_step,create_person_ID,
		modify_person_ID,title,status,solution
	</sql>

	<select id="findAll" resultMap="insertMap">
		select 
			<include refid="columnsAll"/>
			from issue
	</select>
	
	<delete id="delete">
		delete from issue
		where id = #{id}
	</delete>
	
	<insert	id="insert">
	    insert into issue(
		issue_no,issue_type,create_date,plan_modify_time,priority,influent_version,
		re_step,modify_person_ID,title,status) values(
			#{issue.issueNo},
			#{issue.issueType},
			#{issue.createDate},
			#{issue.planModifyTime},
			#{issue.priority},
			#{issue.influentVersion},
			#{issue.reStep},
			#{issue.modifyPersonID},
			#{issue.title},
			#{issue.status}
		<!-- insert into issue(
		issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,priority,influent_version,
		re_step,create_person_ID,modify_person_ID,title,status) values(
			#{issue.issueNo},
			#{issue.issueType},
			#{issue.createDate},
			#{issue.planModifyTime},
			#{issue.actualComplteTime},
			#{issue.priority},
			#{issue.influentVersion},
			#{issue.reStep},
			#{issue.createPersonID},
			#{issue.modifyPersonID},
			#{issue.title},
			#{issue.status} -->
		)
		
	</insert>
	
	<select id="queryByCondition" parameterType="com.ibm.springboot.entity.VO.IssueVo" resultType="com.ibm.springboot.entity.Issue">
		select
			<include refid="columnsAll"/>
				from issue
			<where>
                <if test="issue.issueNo != null">
                    issue_no = #{issue.issueNo} 
                </if>
                
                <if test="issue.status != null">
             		and status = #{issue.status}
                </if>
                
               	<if test="issue.createStartDate != null">
                    and create_date between #{issue.createStartDate}
                    and #{issue.createEndDate}
                </if>
                
                
                <if test="issue.createPersonID != null">
                    and create_person_ID = #{issue.createPersonID}
                </if>
                
                <if test="issue.modifyPersonID != null">
                    and issue.modify_person_ID = #{issue.modifyPersonID}
                </if>
                
                <if test="issue.modifyStartDate != null">
                    and plan_modify_time between #{issue.modifyStartDate}
                    and #{issue.modifyEndDate}
                    
                </if>
                
            </where> 
	</select>
	
	<update id="updateIssue">
		update issue
			<set>
				<if test="issueNo != null">
					issue_no = #{issueNo},
				</if>
				
				<if test="issueType != null">
					issue_type = #{issueType},
				</if>
				
				<if test="createDate != null">
					create_date = #{createDate},
				</if>
				
				<if test="planModifyTime != null">
					plan_modify_time = #{planModifyTime},
				</if>
				
				<if test="actualComplteTime != null">
					actual_complte_time = #{actualComplteTime},
				</if>
				
				<if test="priority != null">
					priority = #{priority},
				</if>
				
				<if test="influentVersion != null">
					influent_version = #{influentVersion},
				</if>
				
				<if test="reStep != null">
					re_step = #{reStep},
				</if>
				
				<if test="createPersonID != null">
					create_person_ID = #{createPersonID},
				</if>
				
				<if test="modifyPersonID != null">
					modify_person_ID = #{modifyPersonID},
				</if>
				
				<if test="title != null">
					title = #{title},
				</if>
				
				<if test="status != null">
					status = #{status},
				</if>
				
				<if test="solution != null">
					status = #{solution}
				</if>
				
			</set>
			
			where id = #{id}
	</update>
</mapper>