<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.springboot.dao.IssueReportDao">

	<sql id="columnsAll">
		id,login_id,username,create_count,receive_count,modify_count,finish_count,finished_per
	</sql>
	
	<!--List<IssueReport> findAll(); 
	   根据输入条件：用户ID,用户姓名。模糊查询Issue报表
	-->
	<select id="findAll" resultType="com.ibm.springboot.entity.IssueReport">
		select 
			<include refid="columnsAll"/>
			from issue_report
			<where>
				<if test="loginId != null and loginId.trim() != ''">
					<bind name="_login_id" value="'%' + loginId + '%'"/>
					login_id like #{_login_id}
				</if>
				
				<if test="username != null and username.trim() != ''">
				    <!-- 模糊查询的另外一种写法 -->
					<bind name="_user_name" value="'%' + username + '%'"/>  
					and username like #{_user_name}
				</if>
			</where>
	</select>
	
	<!--IssueReport selectByUserId(Integer userId); -->
<!-- 	根据 login_id 查询出 issue_report 的具体信息 -->
	<select id="selectByLoginId" resultType="com.ibm.springboot.entity.IssueReport">
		select 
			<include refid="columnsAll"/>
			from issue_report
			where login_id = #{loginId}
	</select>

	
	<!--int insert(IssueReport report); -->
<!-- 	插入信息 -->
	<insert id="insert">
		insert into issue_report(login_id,username,create_count,receive_count,modify_count,finish_count,finished_per)
		values (
			#{loginID},
			#{username},
			#{createCount},		
			#{receiveCount},
			#{modifyCount},
			#{finishCount},
			#{finishedPer}
		)
	</insert>
	
	<!-- int update(IssueReport report); -->
<!-- 	修改信息 -->
	<update id="update">
		update issue_report
		set
			create_count = #{createCount},
			receive_count = #{receiveCount},
			modify_count = #{modifyCount},
			finish_count = #{finishCount},
			finished_per = #{finishedPer}
		where login_id = #{loginID}
	</update>
	
</mapper>