<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.springboot.dao.IssueDao">

	<resultMap id="IssueMap" type="com.ibm.springboot.entity.Issue">
		<result property="modifyPersonID" column="modify_person_ID"/>
    	<result property="createPersonID" column="create_person_ID"/>
    	<result property="actualComplteTime" column="actual_complte_time"/>
	</resultMap>

	<sql id="columnsAll">
		id,issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,
		priority,influent_version,re_step,create_person_ID,
		modify_person_ID,title,status,solution
	</sql>

	<select id="findAll" resultMap="IssueMap">
		select 
			t1.id,issue_no,issue_type,create_date,plan_modify_time,actual_complte_time,
			priority,influent_version,re_step,create_person_ID,
			
			modify_person_ID,title,t1.status,solution,
			t2.username createPersonName,t3.username modifyPersonName
			
			from issue t1,user t2,user t3
			
			
<!-- 			select  -->
<!-- 			   t1.id,t1.create_person_ID,T1.modify_person_ID,t2.username createPersonName,t3.username modifyPersonName -->
<!-- 			   from issue t1,user t2,user t3 -->
		   where t1.create_person_ID = t2.loginID
		   AND t1.modify_person_ID = t3.loginID
			   
	</select>
	
	<delete id="delete">
		delete from issue
		where id = #{id}
	</delete>

	<insert	id="insert" parameterType="com.ibm.springboot.entity.Issue">
	    insert into issue(
		issue_no,issue_type,create_date,plan_modify_time,priority,influent_version,
		re_step,create_person_ID,modify_person_ID,title,status) values(
			#{issueNo},
			#{issueType},
			#{createDate},
			#{planModifyTime},
			#{priority},
			#{influentVersion},
			#{reStep},
			#{createPersonID},
			#{modifyPersonID},
			#{title},
			#{status}
		)
	</insert>
	
	<!-- Issue模糊搜索 -->
	<select id="queryByCondition" parameterType="com.ibm.springboot.entity.VO.IssueVo" resultType="com.ibm.springboot.entity.Issue">
		select
			<include refid="columnsAll"/>
				from issue
			<where>
                <if test="issueNo != null and issueNo.trim() != ''">
                	<bind name="_issue_no" value="'%' + issueNo + '%'"/>
                    issue_no like #{_issue_no} 
                </if>
                
                <if test="status != null">
             		and status = #{status}
                </if>
                
               	<if test="createStartDate != null">
                    and 
                    <![CDATA[
                    create_date >= #{createStartDate,jdbcType=DATE}
                    ]]>
                </if>
                
                <if test="createEndDate != null">
                    and 
                    <![CDATA[
                    create_date <= #{createEndDate,jdbcType=DATE}
                    ]]>
                </if>
                
                
                
                <if test="modifyStartDate != null">
                    and 
                    <![CDATA[
                    plan_modify_time >= #{modifyStartDate,jdbcType=DATE}
                    ]]>
                </if>
                
                <if test="modifyEndDate != null">
                    and 
                    <![CDATA[
                    plan_modify_time <= #{modifyEndDate,jdbcType=DATE}
                    ]]>
                </if>
                                    
                
                <if test="createPersonID != null">
                	<bind name="_create_person_id" value="'%' + createPersonID + '%'"/>
                    and create_person_ID like #{_create_person_id}
                </if>
                
                <if test="modifyPersonID != null">
                	<bind name="_modify_person_id" value="'%' + modifyPersonID + '%'"/>
                    and modify_person_ID like #{_modify_person_id}
                </if>
                         
            </where> 
	</select>
	
	<update id="updateIssue">
		update issue
			<set>
				
				<if test="status != null">
					status = #{status},
				</if>
				
				<if test="solution != null">
					status = #{solution}
				</if>
				
			</set>
			
			where id = #{id}
	</update>
	
	<select id="getRowByIssueNo" resultType="int">
		select 
			count(id) 
			from issue
		where issue_no = #{issueNo} 
	</select>
</mapper>