<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.springboot.dao.UserDao">

   <!-- void insert(User user); -->
   <insert id="insert" parameterType="com.ibm.springboot.entity.User">
   		insert into user(loginID,username,email,password) 
   		VALUES(#{loginID},#{username},#{email},#{password})
   </insert>
   
	<!-- List<User> selectAll(); -->
	<select id="selectAll" resultType="com.ibm.springboot.entity.User">
	    select * from user
	</select>
	
	<!-- int update(User user); -->
	<update id="update" parameterType="com.ibm.springboot.entity.User">
	   update user 
	   set username = #{username},email = #{email},password = #{password} 
	   where loginID = #{loginID}
	</update>
	
	<!--List<User> selectByName(String name) -->
	<select id="selectByName" resultType="com.ibm.springboot.entity.User">
	  select * from user where username = #{name}
	</select>
	
	<!-- List<User> selectUser(HashMap<String, Object> map); -->
	<select id="selectUser" resultType="com.ibm.springboot.entity.User" parameterType="com.ibm.springboot.entity.User">
	  select * from user 
	  <where>
	     <if test="loginID != null">
	        loginID = #{loginID}
	     </if>
	     <if test="username != null">
	        and username = #{username}
	     </if>
	  </where>
	</select>
	
	<select id="findByUserName" resultType="com.ibm.springboot.entity.User">
		select 
			sortID,loginID,username,email,password,registeDate,status,role
			from user
			where loginID = #{username}
	</select>
	
</mapper>